* {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    background-color: deeppink;
    color:aliceblue;
    padding: 25px;
    margin: 20px;
    border: blueviolet 10px solid;
}

.welcome {
    font-size: 65px;
}


.section1 {
    background-color: aqua;
    padding: 25px;
    margin: 20px;
    border: fuchsia 10px solid;
}

.footer {
    background-color: blueviolet;
    padding: 5px;
    margin: 20px;
    color:aliceblue;
}

.contactHeader {
    background-color: blueviolet;
    color:aliceblue;
}
